# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Database & runtime
presensi.db
app.db
*.sqlite
*.sqlite3

# Uploads / runtime
static/uploads/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Secrets
.env
node_modules

# Capacitor/mobile
mobile-capacitor/node_modules/
mobile-capacitor/android/
mobile-capacitor/android/.gradle/
mobile-capacitor/android/app/build/

# OneDrive conflict files
*-AlarifiPC.*
presensi-*.db
