<!doctype html>
<html lang="id" data-theme="{{ theme|default('dark') }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>HRIS PRO - Workforce Control</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
  {% block head_extra %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <script>
    window.__GMI_INITIAL_THEME = "{{ theme|default('dark') }}";
    window.__GMI_BOOT_ID = "{{ boot_id|default('') }}";
  </script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
